:root {
    /* PRIMITIVES -----------------------------------------------------------------------------------------------*/
    --color-lavander: #E6E6FA;
    --color-white: #F8F8FF;
    --color-purple: #4B43EA;
    --color-purple-50: rgb(75, 67, 234, 0.5);
    --color-darkGreen: #1E3E1D;
    --color-darkGreen-50: rgb(30, 62, 29,0.5);
    --color-sage:#BBD38E;
    --color-green:#8BB925;
    --color-lightGreen:#FBFFFA;
    --color-grey-50: #F1F1F1;
    --color-grey-200: #D3D3D3;
    --color-grey-400: #AFAFAF;
    --color-grey-600: #7C7C7C;
    --color-grey-800: #343434;
    --color-grey-900: #202020;
    --color-lightBlue: #97DCF5;
    --color-darkBlue: #3F53A4;
    --color-yellow: #FFED5F;
    --color-orange: #FF6139;
}

/* TOKENS -----------------------------------------------------------------------------------------------*/
.lightMode {
    /*Light Mode*/
    --color-text: var(--color-grey-900);
    --color-background: var(--color-lightGreen);
    --color-primary: var(--color-darkGreen);
    --color-secondary: var(--color-sage);
    --color-shadow: var(--color-darkGreen-50);
}

.darkMode {
    /*Light Mode*/
    --color-text: var(--color-lightGreen);
    --color-background: var(--color-grey-900);
    --color-primary: var(--color-darkGreen);
    --color-secondary: var(--color-sage);
    --color-shadow: var(--color-darkGreen-50);
}